.DirectoryInfo-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  font-size: 1.2em;
  line-height: 2em;
}

.DirectoryInfo-label {
  margin: 0 0.5em;
}

.DirectoryInfo-label:hover {
  margin: 0 0.5em;
  cursor: pointer;
  text-decoration: underline;
}
